/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a7240e;
  --ifm-color-primary-dark: #96200d;
  --ifm-color-primary-darker: #8e1f0c;
  --ifm-color-primary-darkest: #75190a;
  --ifm-color-primary-light: #b8280f;
  --ifm-color-primary-lighter: #c02910;
  --ifm-color-primary-lightest: #d92f12;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #aaa8e6;
  --ifm-color-primary-dark: #8c89dd;
  --ifm-color-primary-darker: #7d7ad9;
  --ifm-color-primary-darkest: #4f4bcb;
  --ifm-color-primary-light: #c8c7ef;
  --ifm-color-primary-lighter: #d7d6f3;
  --ifm-color-primary-lightest: #ffffff;
}
